extends ./layout.jade

block content

  .container
    br
    .jumbotron
      h1 Message Board
    .row
      .col-xs-12
        form(name="new message", method="post")
        div.input
            span.label What's your name?
            input#name(type="text", name="Name")
        div.input
          span.label What do you want to say?
          textarea#message(name="message")
        div.submit
          input.btn#submit(type="submit", value="add")
block scripts
  