extends ./layout.jade

block content

  .container
    .jumbotron
      h1 Message Board
    .row
      .col-xs-12
        form(name="new message", method="post")
        div.input
            span.label What's your name?
            input(type="text", name="Name")
        div.input
          span.label What do you want to say?
          textarea(name="message", cols="40", rows="5")
        div.actions
          input(type="submit", value="add")






block scripts
  script(src="js/main.js")